.overlay {
  position: absolute;
  z-index: 1;
  background: rgb(0 0 0 / 20%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.currency-selector-wrapper {
  position: absolute;
  z-index: 1;
  width: 320px;
  .currency-selector-input-wrapper {
    display: flex;
    align-items: center;
    .currency-selector-input {
      position: relative;
      width: 100%;
      input {
        width: 100%;
      }
      .close {
        right: 5px;
        top: 7px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        border-radius: 50%;
        border: 1px solid #cacfd5;
        transition: border-color 0.2s;
        &:hover {
          border-color: #a3a7ad;
        }
        &:focus {
          border-color: #535558;
        }
        &:after {
          content: "✕";
          font-size: 7px;
        }
      }
    }
  }
}
