.change-direction-button {
  border-radius: 50%;
  border: 1px solid #cacfd5;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  user-select: none;
  margin: 10px auto;
  &.buy {
    transform: rotate(180deg);
  }
}
