.notification-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #9ac171;
  padding: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9ac171;
  margin: 20px;
  color: white;
  z-index: 1;
  box-shadow: 5px 5px 15px rgb(154 193 113);
}
